html, body{
    max-width: 100%;
    overflow-x: hidden;
}

*{
box-sizing: border-box;
}



/*Anchors used to correctly position 
content when nav links are selected*/
#Guidelines{
    padding-top: 125px;
}

#Logo{
    padding-top: 100px;
}

#Typography{
    padding-top: 100px;
}

#Color{
    padding-top: 100px;
}

#Buttons{
    padding-top: 100px;
}

#Icons{
    padding-top: 100px;
}

#Imagery{
    padding-top: 100px;
}

#Contact-Me{
    padding-top: 100px;
}



/* Nav styling*/
.sidebar-container{
    background: black;
    height: 125px;
    width: 100%;
    position: fixed;
    display:flex;
    flex-wrap: wrap;
}

nav{
    top: 0%;
    left: 0%;
    right: 0%;
}

nav img{
    height: 50px;
    width: 200px; 
    margin-top: 33px;
    margin-left: 25px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 51px;
    padding-left: 25px;  
}

.center-links{
    padding-left: 75px;
}



/*Section Container Styling*/
.section-container{
    margin-left: 50px;
    margin-right: 50px;
}



/*Content Container Styling*/
.content_container{
    margin: 0;
    max-width: 100px;
}



/*logo container styling*/
.logo-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    margin-block-end: 15px;
    justify-content: space-around;
}



/*typography Container Styling*/
.type-faces{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

/*Lato Font Styling*/
h1{
    font-family: 'Lato', sans-serif;
    font-size: 28pt; 
    font-weight: bold;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 24pt; 
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 21pt; 
}
h4{
    font-family: 'Lato', sans-serif;
    font-size: 18pt; 
}
h5{
    font-family: 'Lato', sans-serif;
    font-size: 16pt; 
}
h6{
    font-family: 'Lato', sans-serif;
    font-size: 14pt; 
}

/*Open Sans Font Styling*/
.type-open-sans h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 29pt;
    font-weight: 400;
}
.type-open-sans h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    font-weight: 400;
}
.type-open-sans h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 22pt;
    font-weight: 400;
}
.type-open-sans h4{
    font-family: 'Open Sans', sans-serif; 
    font-size: 19pt;
    font-weight: 400;
}
.type-open-sans h5{
    font-family: 'Open Sans', sans-serif; 
    font-size: 17pt;
    font-weight: 400;
}
.type-open-sans h6{
    font-family: 'Open Sans', sans-serif; 
    font-size: 14pt;
    font-weight: 400;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 300; 
}



/*Row Container Styling*/
.row-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin: 15px;
}

/*Color Box Styling*/
.ColorBox{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px grey;
}

.white{
    background: white;
    color: black;
}
.grey{
    background: #939C9E;
    color: white;
}
.black{
    background: black;
    color: white;
}
.green{
    background: #76CC9E;
    color: white;
}
.blue{
    background: #42A0ED;
    color: white;
}
.yellow{
    background: #FFF47D;
    color: black;
}



/*Button Container Styling*/
.button{
    background: black;
    color: white;
    border: 0px;
    width: 100px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px grey;
  }
  
  .button:hover{
    color: #76CC9E;
    box-shadow: none;
  }
  
  .button:active{
    background: #76CC9E;
    color: white;
  }
  
  .disabled{
    background: #939C9E;
    color: white;
    border: 0px;
    width: 100px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
  }
  
  .focus{
    background: #42A0ED;
    color: white;
    border: 0px;
    width: 100px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px grey;
  }
  
  .focus:hover{
    background: rgb(108, 186, 250);
    box-shadow: none;
  }
  
  .focus:active{
    background: rgb(32, 127, 204);
    color: white;
  }



.lnormal{
    text-decoration: none;
    color: black;
}

.lnormal:hover{
    color: #76CC9E;
    text-decoration: underline;
}

.lnormal:active{
    color: rgb(54, 145, 96);
    text-decoration: none;
}

.lfocus{
    color: #42A0ED;
    text-decoration: none;
}

.lfocus:hover{
    color: rgb(108, 186, 250);
    text-decoration: underline;
}

.lfocus:active{
    color: rgb(32, 127, 204);
    text-decoration: none;
}

.ldisabled{
    text-decoration: none;
    color:#939C9E;
    cursor: not-allowed;
}



/*Icons Container Styling*/
.doe-icons{
    align-items: center;
}
.icon{
    width: 40px;
    height: 40px;
}


/*Imagery Container Styling*/
.row-container-around{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.dhero{
    height: 600px;
    width: 1280px;
}

.thero{
    height: 623px;
    width: 768px;
}

.mhero{
    height: 500px;
    width: 375px;
}

.enp{
    width:359px;
    height: 400px;
}

.ebp{
    width: 360px;
    height: 200px;
}

.srp{
    width: 360px;
    height: 200px;
}

pre{
    display: flex;
    flex-wrap: wrap;
}






/*Tablet nav*/
@media only screen and (max-width: 1075px){
    /* Hides Sidebar on tablet */
    .sidebar-container {
        display: none;
       
    }

    nav{ 
        position: fixed;
        left: 0;
    }
    
    .fa-bars{
        color: white;
        align-self: center;
        font-size: 40px;
        position: absolute;
        right: 25px;
        top: 40px;
    }

    .tablet-nav {
        background: black;
        width: 100%;
        display: flex;
        align-content: center;
        height: 125px;
        justify-content: start;
    }

    .section-container {
        background: white;
        margin-top: 5px;
        margin-left: 50px;
        height: 100%;
    }
 
    /* Sets Type Styles */ 
    .row-container-no-wrap {
        flex-wrap: wrap;
    }
 
    #Logo .section-logo {
     width: 300px;
        height: 100%;
    }
    
    .dhero{
        display: none;
    }  
 
     
} 





/*Mobile Nav*/
@media only screen and (max-width: 768px){
    /* Hides Sidebar on mobile */
    .sidebar-container {
        display: none;
       
    }

    .tablet-nav{
        display: none;
    }

    .mlogo{
        width: 88px;
        height: 55px;
    }

    nav{ 
        position: fixed;
        left: 0;
    }
    
    .fa-bars{
        color: white;
        align-self: center;
        font-size: 40px;
        position: absolute;
        right: 25px;
        top: 40px;
    }

    .mobile-nav {
        background: black;
        width: 100%;
        display: flex;
        align-content: center;
        height: 125px;
        justify-content: start;
    }

    .section-container {
        background: white;
        margin-top: 5px;
        margin-left: 50px;
        height: 100%;
    }
 
    /* Sets Type Styles */ 
    .row-container-no-wrap {
        flex-wrap: wrap;
    }
 
    #Logo .section-logo {
     width: 300px;
        height: 100%;
    }
    
    .dhero{
        display: none;
    }  

    .thero{
        display: none;
    }
}



















